body {
    font-family: Arial;
    padding: 20px;
    background-color: #f4f4f4;
}

button {
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.card {
    background: white;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
}